*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif
  }
  
  .nav_box{
    background-color: black;
    height: 80px;
  }
  
  
  
  .bg-aqua{
    background-color: #1abc9c;
  }
  
  .img_circle{
    width: 250px;
    height: 250px;
    /* background-color: black; */
    border-radius: 50%;
  }

  .img_circle img{
    width: 100%
  }
  
  /* .titolo{
    font-weight: bolder;
    font-size: 3em;
  } */
  
  .io img{
    width: 100%;
    border-radius: 20px
  }
  
  #about_btn{
    background-color: #1abc9c;
    border: 1px solid white;
  }
  
  #about_btn:hover{
    background-color: #20e2bb;
    border: 1px solid white;
  }

  .footer_1{
    background-color: #3a546d;
  }

  .txt_color{
    color: #1abc9c;
  }

  .footer_2{
    background-color: #2c3e50;
  }

  .social{
    font-size: 3em
  }

  .grow{
    flex: 0 0 0 !important
  }

  .list_element:hover{
    border-bottom: 1px solid white
  }

  .list_element{
    border-bottom: 1px solid #212529
  }