*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif
  }
  
  .nav_box{
    background-color: black;
    height: 80px;
  }
  
  
  
  .bg-aqua{
    background-color: #1abc9c;
  }
  
  .img_circle{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
  }
  
  /* .titolo{
    font-weight: bolder;
    font-size: 3em;
  } */
  
  .io img{
    width: 100%;
    border-radius: 20px
  }
  
  #about_btn{
    background-color: #1abc9c;
    border: 1px solid white;
  }
  
  #about_btn:hover{
    background-color: #20e2bb;
    border: 1px solid white;
  }